<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuoren.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 9.0适配 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--增加存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICsATION" />

    <application
        android:name=".base.SplashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/audi"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/audi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.beijing.view.SafeActivity"></activity>
        <activity android:name=".main.shenzhen.view.WeiXinActivity" />
        <activity android:name=".main.shenzhen.view.WebViewActivity" />
        <activity android:name=".main.shenzhen.view.OpenGlActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/FullScree">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".main.beijing.MainProcessDataProvider"
            android:authorities="com.tuoren.splash.process.data" />

        <service android:name=".main.beijing.MainProcessService" />

        <activity android:name=".main.MainActivity" />
        <activity android:name=".main.KangActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".main.shanghai.view.ShanghaiDetailActivity"
            android:process=":shanghai.detail" /> <!-- 播放器配置信息 -->
        <meta-data
            android:name="playertype"
            android:value="1" />
    </application>

</manifest>